/*

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-family: 'Noto Sans Lao', sans-serif;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Noto Sans Lao', sans-serif;
    background: #fff;
    /* background-image: url(https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60); */
    background-repeat: repeat;
    background-size: cover;
    /* background-size: 1300px auto; */
}

/* global styling */
.navigation-container .web-name{
    width: 200px;
    height: auto;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */
.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling *****/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav{
    height: auto;
}

/********************/
.nav-bar {
    position: relative;
    right: 150px;
}
.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}

/* social -icons */

.social-icons{
    display: none;
}

/* banner */

.banner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-main-content{
    padding: 0 2rem;
    line-height: 1.7;
}
.banner-main-content .unline-topic{
    border-bottom: #808080 1px solid;
}
.banner-main-content h2{
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 1.8rem;
    font-family: var(--heading);
}
.banner-main-content img{
    position: relative;
    top: 11.8px;
    width: 190px;
    height: auto;
}

.banner-main-content h3{
    padding: 1rem 0;
}

.banner-main-content button{
    border: none;
    background: #252525;
    box-shadow: 2px 2px 4px #252525;
    padding: 5px 18px;
    font-size: 1.2rem;
    border-radius: 3px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans Lao', sans-serif;
    transition: background 1s ease;
}

.current-news-head{
    background: #fff;
    box-shadow: 2px 2px 4px #333;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin: 30px 0;
    height: 425px;
}

.current-news-head h3{
    padding: 6px;
    /* cursor: pointer; */
    position: relative;
}

.current-news-head h3:hover::before{
    content: ">> ";
    position: absolute;
    text-shadow: 2px 2px 2px #333;
    left: -22px;
}

.current-news-head span{
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}

.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}

.hot-topic img{
    display: block;
}

.hot-topic-content{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color: #f3f3f3;
}

.hot-topic h2{
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 1.5px #fff;
}

.hot-topic h3{
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 2px 2px 4x #000;
}

.hot-topic p{
    padding: 10px 0;
    font-size: 15px;
    text-shadow: 0 0 1.5px #fff;
    padding: 12px 10px;
}

.hot-topic-content a{
    display: block;
    background: #f3f3f3;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}

.hot-topic-content a:hover{
    text-decoration: underline;
}

/** main ***/

main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5s;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

/* main container left */

.main-container-left{
    padding: 30px 10px;
}
/* .list-style{
    list-style:armenian;
    background-color: red;
} */
.main-container-left > h2{
    padding: 15px 0 15px 30px;
}

.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.main-container-left p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-left .hand-on img{
    width: auto;
    height: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #333;
}

.main-container-left article{
    padding: 10px;
}

.container-top-left{
    padding: 15px 30px;
}

.container-top-left .davinci img{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333;
}

.container-bottom-left{
    background: #fff;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    border-radius: 5px;
    margin: 15px 30px;
}
.container-bottom-left .xiaomi img{
    width: 268px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #333;
}

/*** main container right */

.main-container-right{
    padding: 30px 10px;
    /* background-color: #7ac64d; */
}

.main-container-right > h2{
    padding: 15px 0 15px 30px;
}

.main-container-right article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d;
}

/* .main-container-right article:last-child{
    border-bottom: none;
} */

.main-container-right img{
    /* border: #7ac64d solid 2px; */
    box-shadow: 2px 2px 3px #333;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    align-self: center;
}
.main-container-right img:hover{
    width: 105px;
    height: 105px;
}

.main-container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.main-container-right article h2{
    font-size: 16px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-right article div{
    margin-right: 10px;
}
.main-container-right article h4{
    font-size: 16px;
}


/****** footer *****/

footer{
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

footer h2{
    padding: 10px 0;
    /* background-color: #7ac64d; */
}

footer p{
    padding: 5px 0;
    line-height: 1.3;
}

.footer-left .footer-p{
    /* border: #7ac64d solid 3px; */
    position: relative;
    padding: 5px 0;
    line-height: 1.3;
}

.footer-left, 
.footer-right{
    margin: 0 10px;
}
.footer-left p{
    width: 450px;
    text-align: justify;
    /* background-color: #7ac64d; */
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: #808080;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}

footer .end-footer{
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 330px;
    border-radius: 2px;
}
footer .end-footer a{
    color: white;
    text-decoration: underline;
}



@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }

    .main-container-right article{
        display: block;
    }

    .main-container-right article img{
        display: none;
    }


}

@media(max-width: 500px){
    .main-container-right article{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container-right article h4{
        font-size: 20px;
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }
}


@media(min-width: 768px){
    .banner-sub-content{
        position: relative;
        right: 12px;
        background-color: #f3f3f3;
        box-shadow: 2px 2px 5px #333;
        /* background-image: url(https://images.unsplash.com/photo-1661961110144-12ac85918e40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MTV8fHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60); */
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-sub-content img{
        filter: brightness(70%);
        border-radius: 20px;
        width: 390px;
        height: 280px;
        margin: 0 0 20px 0;
        box-shadow: 2px 2px 4px #333;
    }
    .banner-sub-content a{
        opacity: 70%;
        background-color: #fff;
        border-radius: 20px;
        padding: 2px 0;
    }
    .banner-sub-content a:hover{
        opacity: 90%;
        background-color: rgb(126, 214, 255);
        color: #000;
        
    }

    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }

    /* social icons */
    .social-icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .social-icons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .social-icons ul{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .social-icons ul li{
        padding:  20px;
    }

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
}

