*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-family: 'Noto Sans Lao', sans-serif;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Noto Sans Lao', sans-serif;
    background: #fff;
}

/* global styling */
.navigation-container .web-name{
    width: 200px;
    height: auto;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */
.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling *****/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav{
    height: auto;
}

/********************/
.nav-bar {
    position: relative;
    right: 100px;
}
.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}

/* social -icons */

.social-icons{
    display: none;
}

/****** footer *****/

footer{
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

footer h2{
    padding: 10px 0;
    /* background-color: #7ac64d; */
}

footer p{
    padding: 5px 0;
    line-height: 1.3;
}

.footer-left .footer-p{
    /* border: #7ac64d solid 3px; */
    position: relative;
    padding: 5px 0;
    line-height: 1.3;
}

.footer-left, 
.footer-right{
    margin: 0 10px;
}
.footer-left p{
    width: 450px;
    text-align: justify;
    /* background-color: #7ac64d; */
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: #808080;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}

footer .end-footer{
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 330px;
    border-radius: 2px;
}
footer .end-footer a{
    color: white;
    text-decoration: underline;
}

@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }

    /* social icons */
    .social-icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .social-icons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .social-icons ul{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .social-icons ul li{
        padding:  20px;
    }

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}