body {
    background-color: #f1f1f1;
}
.main-container-left{
    /* border-radius: 5px; */
    /* margin: 10px 0 10px 10px; */
    background-color: #fff;
    box-shadow: 0 2px 4px #333;
}
.main-container-left img{
    box-shadow: 2px 2px 3px #333;
    border-radius: 5px;
}
.main-container-right img{
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333;
    width: 100px;
    height: 100px;
    align-self: center;
}
.main-container-right h4 {
    font-size: 16px;
}